/vendor/
/node_modules/
/.env
/.env.backup
/.phpunit.result.cache
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/storage/framework/testing/
/storage/app/
